.container{
display: flex;
flex-direction: column;
max-width: 130px;
align-items: center;
margin-top: 10px;
}
.toolDad{
font-size: 20px;
margin-bottom: 8px;
cursor: pointer;
}
.toolSon{
background-color: gray;
color: white;
font-size: 18px;
border-radius: 5px;
opacity: 0;
;padding-right: 3px;
padding-left: 3px;
padding-bottom: 1px;
position: relative;
margin: 0;
padding-top: 0;
}
.toolSon::before {
content: '';    
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px ;
border-style: solid;
border-color: transparent transparent gray transparent;
transform: rotate(180deg);
}
.toolHover{opacity: 1;}
